/* Chat Container */
.chat-container {
  display: flex;
  max-width: 800px;
  margin: 0 auto;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Sidebar */
.chat-sidebar {
  width: 30%;
  background-color: #f5f5f5;
  padding: 20px;
  flex-shrink: 0; 
}

.profile img {
  max-width: 100%;
  border-radius: 50%;
}

.search {
  margin-top: 20px;
  position: relative;
}

.search input {
  width: 100%;
  padding: 8px 30px 8px 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
}

.search i {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.friend-list {
  margin-top: 20px;
}

.friend {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.friend img {
  max-width: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.friend-details {
  flex-grow: 1;
}

.friend-name {
  font-weight: bold;
}

.last-active-time {
  color: #777;
}

/* Chat Content */
.chat-content {
  flex-grow: 1; 
  padding: 20px;
 width: 600px;
}

.chat-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 10px;
}

.chat-header img {
  max-width: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.header-details {
  flex-grow: 1;
}

.header-name {
  font-weight: bold;
  font-size: 18px;
}

.header-status {
  color: #00aaff;
}

/* Message List */
.message-list {
  max-height: 400px;
  overflow-y: auto;
  display: flex;
  flex-direction: column-reverse; 
}

.previous-messages {
  cursor: pointer;
  color: #00aaff;
  margin-left: 160px;
}

.message-body {
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-start;
}

.message-receiver {
  /* Styling for received messages on the right side (unchanged) */
  margin-left: auto; 
  text-align: left;
}

.message-sender {
  /* Styling for sent messages on the left side */
  margin-right: auto; 
  text-align: left; /* Align text to the left within the sent message bubble */
}

.message-text {
  padding: 10px;
  border-radius: 10px;
  background-color: #00aaff;
  color: white;
  max-width: fit-content;
  word-wrap: break-word;
}

.message-time {
  font-size: 12px;
  color: #777;
}

/* Message Input */
.message-input {
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 0;
  margin-bottom: 20px;
}

.fa {
  margin: 0 10px;
  cursor: pointer;
}

.message-textarea {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  resize: none;
  width: 380px;
}
