*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.sidebar-container{
    display:flex;
    flex-direction: column;
    height: 100%;
}

main{
    width: 100%;
    padding: 20px;
    padding-left: 20px;
}

.sidebar{
    background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
  color: #fff;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.top_section{
    display: flex;
    align-items: center;
    padding: 20px 15px;
}

.logo{
    font-size: 25px;
    margin-left: 10px;
}

.bars{
    display: flex;
    font-size: 25px;
    margin-left: 10px;
}

.link{
    display: flex;
    color: #fff;
    padding: 20px 50px;
    
    gap: 15px;
    
    transition: all 0.5s;
}

.link:hover{
    background: lightskyblue;
    color: #000;
    transition: all 0.5s;
    padding: 20px 85px; /* Increase padding on hover */
  
}

.active{
    background: lightskyblue;
    color: #000;
}

.icon, .link_text{
    font-size: 20px;
}

/* Add responsive styles */
@media (max-width: 960px) {
    .container {
      flex-direction: column;
    }
    
    .sidebar {
      width: 50%;
      height: auto;
    }
  
    .top_section {
      display: none;
    }
  
    .link {
      padding: 10px 20px;
    }
  
    .icon, .link_text {
      font-size: 16px;
    }
  }
  
  @media (max-width: 768px) {
    .sidebar {
      width: 30%;
    }
  }